#example1, #example2{
  width: 100px;
  height: 100px;
  margin-left: 100px;
}

#example1{
    
    background-color: red;
    margin-top: 100px;
    padding-top: 100px;

  }
#example2{
  padding-left: 100px;
  background-color: blue;
  /* margin-top: 100px; */
}
